html, body {
    height: 100%;
    font-family: sans-serif;
    color: #333;
    min-height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    padding: 0;
    margin: auto;
    width: 40em;
    display: flex;
    flex-flow: column;
    /*align-items: center;*/
    justify-content: space-between;
    min-height: 100vh;

}

.container {
    width: 40em;
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

svg {
    width: 40em;
    height: auto;
}

@media
screen
and (min-device-width: 200px)
and (max-device-width: 1200px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait)
{
    .container {
        width: calc(100% - 4rem);
    }
    svg {
        width: calc(100% - 4rem);
    }
    .wrapper {
        width: calc(100% - 4rem);
    }
}


.item {
    justify-content: center;
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

h1>a {
    color: #222;
    font-size: 24pt;
    font-family: sans-serif;
    text-decoration: none;
    margin: 0;
}

#bc {
    width: 12rem;
    text-align: center;
    padding: .4rem;
    border-radius: .4rem;
    font-size: 16pt;
    font-family: monospace;
}

#bc-size {
    width: 100%;
}

.barcode {
    margin-top: 2rem;
    width: 100%;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 1rem;
}

rect {
    transition: width ease-in-out 300ms, x 300ms ease-in-out 0ms;
    -webkit-animation: fadein 300ms; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 300ms; /* Firefox < 16 */
        -ms-animation: fadein 300ms; /* Internet Explorer */
         -o-animation: fadein 300ms; /* Opera < 12.1 */
            animation: fadein 300ms;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.button {
    background-color: #efefef;
    /*color: #222;*/
    border: none;
    /*color: white;*/
    padding: 8pt 14pt;
    cursor: pointer;
    /*font-size: 20px;*/
    font-size: 16pt;
    border-radius: .4rem;
    white-space: nowrap;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: #fafafa;
    color: #efefef;
}


.dim-row {
    color: #666;
    display: flex;
    justify-content: space-around;
    font-family: monospace;
    font-size: 12pt;
}

.dim {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dim-label {
    font-weight: 600;
}

.dim-value {
    /*background-color: #efefef;*/
    padding: 0.2rem;
    width: 5rem;
}

p {
    text-align: left;
}

.footer > p {
    margin: 0;
    text-align: justify;
}

.footer {
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #aaa;
    font-size: 10pt;
}
p a:link {
    /*color: #7d96c6;*/
    color: #aaa;
}
p a:visited {
    /*color: #8678c6;*/
    color: #aaa;
}


p a:hover {
    color: #6898e8;
}

P a:active {
    color: red;
}
