html, body {
    height: 100%;
    font-family: sans-serif;
    color: #333;
    min-height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    padding: 0;
    margin: auto;
    width: 40em;
    display: flex;
    flex-flow: column;
    /*align-items: center;*/
    justify-content: space-between;
    min-height: 100vh;

}

.container {
    width: 40em;
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

svg {
    width: 40em;
    height: auto;
}

@media
screen
and (min-device-width: 200px)
and (max-device-width: 1200px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait)
{
    .container {
        width: calc(100% - 4rem);
    }
    svg {
        width: calc(100% - 4rem);
    }
}

.item {
    justify-content: center;
    text-align: center;
}

h1>a {
    color: #222;
    font-size: 24pt;
    font-family: sans-serif;
    text-decoration: none;
    margin: 0;
}

#bc {
    width: 10rem;
    text-align: center;
    /*border: none;*/
    padding: .4rem;
    border-radius: .4rem;
    /*background-color: #efefef;*/
    /*margin-top: 1rem;*/
    font-size: 16pt;
    font-family: monospace;
    /*outline: #333 auto 1px;*/
}

#bc-size {
    width: 100%;
}

.barcode {
    width: 100%;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 1rem;
}



rect {
    transition: width ease-in-out 300ms, x 300ms ease-in-out 0ms;
}

.button {
    background-color: #efefef;
    /*color: #222;*/
    border: none;
    /*color: white;*/
    padding: 8pt 14pt;
    cursor: pointer;
    /*font-size: 20px;*/
    font-size: 16pt;
    border-radius: .4rem;
    white-space: nowrap;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: #fafafa;
    color: #efefef;
}


.dim-row {
    color: #666;
    display: flex;
    justify-content: space-around;
    font-family: monospace;
    font-size: 12pt;
}

.dim {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dim-label {
    font-weight: 600;
}

.dim-value {
    /*background-color: #efefef;*/
    padding: 0.2rem;
    width: 5rem;
}

p {
    text-align: left;
}

.footer > p {
    margin: 0;
}

.footer {
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #777;
    font-size: 10pt;
}